.providers-list {
  background-color: @theme_base_bg;
}

.provider-row {
  margin-top: 12px;
  margin-bottom: 12px;
}

.provider-row:hover {
  background-color: @theme_base_bg;
}

.provider-row:active {
  background: @theme_base_bg;
  box-shadow: none;
}

