.large-button {
  padding: 6px 32px;
}
.pill-button {
  border-radius: 9999px;
}
.providers-list {
  background-color: @theme_base_bg;
}

.provider-row {
  margin-top: 12px;
  margin-bottom: 12px;
}

.provider-row:hover {
  background-color: @theme_base_bg;
}

.provider-row:active {
  background: @theme_base_bg;
  box-shadow: none;
}

.totp-progress,
.totp-progress trough progress,
.totp-progress trough {
  margin-left: 0px;
  margin-right: 0px;
}

.red-progress trough progress {
  background-color: #c01c28;
  border-color: #c01c28;
}

.account-row {
  padding: 12px;
}

.account-otp {
  letter-spacing: 1.8px;
  font-size: medium;
  font-weight: 500;
  font-feature-settings: "tnum" 1;
}
